body {
    /* border:double rgb(6, 255, 10) 1em; */
    border-bottom: double rgb(6, 255, 10) 1em;
    border-top: double rgb(6, 255, 10) 1em;
    border-left: double rgb(6, 255, 10) 1em;
    background-color:black;
    outline: double;
    overflow: scroll;
}
h1{
  text-shadow: 3px 3px 3px whitesmoke  ;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: greenyellow;
    color: chartreuse;
    text-align: center;
    opacity: 100000000;
    /* transform: translate(800px,0) */
}
.imghr{
  width: 50px;
  height: 50px;
  border: solid greenyellow 4px;
}
.imh{
  vertical-align: middle;
}
.parent{

  border-top-right-radius:  1% 8% 8% 1%;
  position: sticky; /*  للثبات اعلي المتجر  */
  top: 0;            /*   للثبات اعلي المتجر   */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:darkolivegreen;
  align-items:flex-start;
  height: 30px;
  border-radius: 30%;
  box-shadow: 5px 1px 5px 1px white inset;


}
.wel{
  width: 1600px; ;
  height: 600px; ;
transform: translate(150px,30px);
border:  5px 50px 5px 10px;
border-radius: 30%;
border-color: chartreuse;
box-shadow: 5px 1px 5px 1px white inset;
}
.op1{
    color: chartreuse;
    width:5rem;
    height: 5rem;
    /* transform: translate(2180%,0); */
   
}

.op2{
    color: chartreuse;
    width:5rem;
    height: 5rem;

    /* transform: translate( 2050%,-100%); */

}

.op3{
    color: chartreuse;
    width:5rem;
    height: 5rem;
    /* transform: translate( 1900%,-200%); */

}
.op4{
    color: chartreuse;
    width:5rem;
    height: 5rem;
    /* transform: translate( 1750%,-300%); */

}
.hr1{
    transform: translate( 0,-17000%);
    
}
.hr1 {
    border-radius: 5px;
    box-shadow: 0 0 10px 5px black;
    transition: all 0.3s ease-in-out;
  }
.check{
    color: greenyellow;
    width:5rem;
    height: 5rem;
    /* transform: translate( 60%,-400%); */
    background-color: none;

}
.hr1 :hover {
    transform: scale(1.1);
  }
  .img1{
    transform: translate( -1%,-115%);
    width: 1900px;
    height: 300px;

  }
  .img2{
height: 400px; ;
width: 400px;
margin: 200px;

  }
  .img3{
    height: 400px; ;
    width: 400px;
    margin: 200px;

  }
  .img4{
    height: 400px; ;
    width: 400px;
    margin: 200px;

  }
  .img5{
    height: 400px; ;
    width: 400px;
    margin: 200px;

  }
  .img6{
    height: 400px; ;
    width: 400px;
    margin: 200px;

  }
  .img7{
    height: 400px; ;
    width: 400px;
    margin: 200px;

  }
  .img8{
    height: 400px; ;
    width: 400px;
    margin: 200px;
  }
.span1{
color: antiquewhite;

transform: translate(350px,-200px);
text-shadow: 2px 5px 5px 2px;
border-style: groove;
width: 90px;
background-color:green;
}
.span10{
  color: antiquewhite;
  text-decoration: line-through;

}
.span2{
  color: antiquewhite;

  transform: translate(350px,-200px);
  text-shadow: 2px 5px 5px 2px;
  border-style: groove;
  width: 90px;
  background-color:green;
}
.span20{
  color: antiquewhite;
  text-decoration: line-through;

}
.span3{
  color: antiquewhite;

  transform: translate(350px,-200px);
  text-shadow: 2px 5px 5px 2px;
  border-style: groove;
  width: 90px;
  background-color:green;
}
.span30{
  color: antiquewhite;
  text-decoration: line-through;

}
.span4{
  color: antiquewhite;

  transform: translate(350px,-200px);
  text-shadow: 2px 5px 5px 2px;
  border-style: groove;
  width: 90px;
  background-color:green;
}
.span40{
  color: antiquewhite;
  text-decoration: line-through;

}
.span5{
  color: antiquewhite;

  transform: translate(350px,-200px);
  text-shadow: 2px 5px 5px 2px;
  border-style: groove;
  width: 90px;
  background-color:green;
}
.span50{
  color: antiquewhite;
  text-decoration: line-through;

}
.span6{
  color: antiquewhite;

  transform: translate(350px,-200px);
  text-shadow: 2px 5px 5px 2px;
  border-style: groove;
  width: 90px;
  background-color:green;
}
.span60{
  color: antiquewhite;
  text-decoration: line-through;

}
.span7{
  color: antiquewhite;
  transform: translate(350px,-200px);
  text-shadow: 2px 5px 5px 2px;
  border-style: groove;
  width: 90px;
  background-color:green;
}
.span70{
  color: antiquewhite;
  text-decoration: line-through;

}
.span8{
  color: antiquewhite;
  transform: translate(350px,-200px);
  text-shadow: 2px 5px 5px 2px;
  border-style: groove;
  width: 90px;
  background-color:green;
}
.span80{
  text-decoration: line-through;

}
.span9{
  color: antiquewhite;
  transform: translate(350px,-200px);
  text-shadow: 2px 5px 5px 2px;
  border-style: groove;
  width: 90px;
  background-color:green;
}
.span90{
  text-decoration: line-through;


}


.span10{
  color: antiquewhite;
  transform: translate(350px,-200px);
  text-shadow: 2px 5px 5px 2px;
  border-style: groove;
  width: 80px;
  background-color:green;

}
.s2{
  text-decoration: line-through;
}